*{
    margin: 0;
}
body{
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vw;

}
header{
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-transform: uppercase;
    text-decoration: underline;
}
form{
    display: flex;
    flex-direction: column;
    
}
input{
    background-color: rgba(255, 255, 255, 0);
    border-top: none;
    border-left: none;
    border-right: none;
}
input[type="radio"]:hover{
    cursor: pointer;
}
label{
    margin-right:1vw;
}
input[type="text"]{
    width: 25vw;
}
input::placeholder{
    
}
.input{
    margin-top: 5vh;
    display: flex;
    

}
#formatacao {
    display: flex;
   
}
input[type="submit"]{
    display: flex;
    
    

}
input[type="submit"]:hover{
    
}