*{
    margin: 0;
}
body{
    background: rgb(99,98,122);
    background: linear-gradient(49deg, rgba(99,98,122,1) 0%, rgba(174,189,199,1) 50%, rgba(255,255,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vw;

}
header{
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-transform: uppercase;
    text-decoration: underline;
}
form{
    display: flex;
    flex-direction: column;
    
}
input{
    background-color: rgba(255, 255, 255, 0);
    border-top: none;
    border-left: none;
    border-right: none;
}
input[type="radio"]:hover{
    cursor: pointer;
}
label{
    margin-right:1vw;
}
input[type="text"]{
    width: 25vw;
}
.input{
    padding-inline: 30px;
    margin-top: 5vh;
    display: flex;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    margin-bottom: 1vh;
}
#formatacao {
    display: flex;
    justify-content: center;
}
input[type="submit"]{
    display: flex;
}

#campos-dinamicos {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 3vh; 
    width: 100%; 
}